header {
    background-color: rgb(108, 244, 101);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    
  }
body h2{
    text-align: center;
}
body {
  background-color: rgb(170, 146, 193);
}